<% include ../partials/header.ejs %>

<!-- MAIN CONTENT -->
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <h1><%= title %></h1>
      <form class="form" method="post">
        <div class="form-group">
          <label for="idTextField">Employee id</label>
          <input
            type="text"
            class="form-control"
            id="idTextField"
            placeholder="Employee Id"
            name="Employeeid"
            value="<%= employees.Employeeid %>"
            required
          />
          <label for="NameTextField">Employee Name</label>
          <input
            type="text"
            class="form-control"
            id="NameTextField"
            placeholder="Employee Name"
            name="Employeename"
            value="<%= employees.Employeename %>"
            required
          />
        </div>
        <div class="form-group">
          <label for="DepartmentTextField">Department</label>
          <input
            type="text"
            class="form-control"
            id="DepartmentTextField"
            placeholder="Department"
            name="Department"
            value="<%= employees.Department %>"
            required
          />
        </div>
        <div class="form-group">
          <label for="DesgTextField">Designation</label>
          <input
            type="text"
            class="form-control"
            id="DesgTextField"
            placeholder="Designation"
            name="Designation"
            value="<%= employees.Designation %>"
            required
          />
        </div>
        <div class="form-group">
          <label for="SalaryTextField">Salary</label>
          <input
            type="text"
            class="form-control"
            id="SalaryTextField"
            placeholder="Salary"
            name="Salary"
            value="<%= employees.Salary %>"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary">
          <i class="fa fa-check-square-o"></i> Submit
        </button>
        <a href="/employees" class="btn btn-warning"
          ><i class="fa fa-undo"></i> Cancel</a
        >
      </form>
    </div>
  </div>
</div>

<% include ../partials/footer.ejs %>
